<a href="https://colab.research.google.com/github/SKCuarte/Calculator/blob/master/CUARTE_ACT_3_PYTHON_FUNDAMENTAL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Cell 1
#print_hello_world
print("Hello World")

Hello World

In [ ]:
#Cell 2
#Phyton comments

#This is a comment

"""
This is
also a comment
written in one line
"""

print("Hi")

Hi

In [ ]:
#Cell 3
#Phyton Variables

x = 12
Y = 21
print(x)
print(Y)

12
21

In [ ]:
#Cell 4
#Data Types

x = 10

y = "Hello"

z = ["Hey", "Hello", "Goodmorning", "Hi"]

print(type(x))

print(type(y))

print(type(z))

<class 'int'>
<class 'str'>
<class 'list'>

In [ ]:
#Cell 5
#Phyton Operations

x = 3
y = 5

print(5 + 3)
print(5 * 3)
print(x + y)
print(x * y)

8
15
8
15

In [ ]:
#Cell 6
#Phyton List

Paper = ["Manila", "Bond", "Coloured", "Cardboard", "Construction", "Kraft"]

print(Paper)
print(Paper[3])

['Manila', 'Bond', 'Coloured', 'Cardboard', 'Construction', 'Kraft']
Cardboard

In [ ]:
#Cell 7
#Phyton tuples

tuple1 = ("Jonh", "Mary", "Dean", "Sam", "Jack")
tuple2 = ("Dean", )
print(tuple1)
print(len(tuple1))
print(type(tuple2))

('Jonh', 'Mary', 'Dean', 'Sam', 'Jack')
5
<class 'tuple'>

In [ ]:
#Cell 8
#Phyton Sets

set1 = {"Manila", "Bond", "Coloured", "Cardboard", "Construction", "Kraft"}
print(set1)
print(len(set1))
print(type(set1))

{'Bond', 'Coloured', 'Construction', 'Manila', 'Kraft', 'Cardboard'}
6
<class 'set'>

In [ ]:
#Cell 9
#Phyton Dictiornary

dict1 = {
    "Name" : "Kyan",
    "Age" : "18",
    "Address" : "Manila"
}
print(dict1)
print(len(dict1))
print(type(dict1))

{'Name': 'Kyan', 'Age': '18', 'Address': 'Manila'}
3
<class 'dict'>

In [ ]:
#Cell 10
#Phyton If Else

x = 17
y =  93

if x < y:
   print("x is less than y")
elif x == y:
    print("x is equal to y")
else:
    print("x is greater than y")

x is less than y

In [ ]:
#Cell 11
#Phyton While Loops

i = 2

while i < 7:
 print(i)
 if i == 7:
  break
 i += 1

2
3
4
5
6

In [ ]:
#Cell 12
#Phyton For Loops

Loops = ["Manila", "Bond", "Coloured", "Cardboard", "Construction", "Kraft"]
for x in Loops:
  print(x)

Manila
Bond
Coloured
Cardboard
Construction
Kraft

In [ ]:
#Cell 13
#Phyton LAMNBDA

x = lambda z: z + 7
print(x(13))

20

In [ ]:
#Cell 14
#Phyton Classes

class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

p1 = Person("Kyan", "18")

print(p1.name)
print(p1.age)

Kyan
18